<div class="app">
    <h1>Angular2 + Spin.js Demo</h1>
    <!--<app-spinner></app-spinner>-->
    <app-spinner [radius]="40" [lines]="12" [width]="16" [length]="40" [opacity]="0.25" [shadow]="true"></app-spinner>
    <div class="container input-group">
        <button class="btn btn-primary" (click)="spin($event)">Spin for</button>
        <input id="spinTimeout" name="spinTimeout" type="number" min="1" max="10" class="form-control" [(ngModel)]="spinTimeout" />
        <label for="spinTimeout">seconds</label>
    </div>

<p>Lorem ipsum dolor sit amet, admodum fabellas no vix. Eum ad omittantur persequeris, ad rebum nulla eum. Ad nihil oportere qui. Eam unum elaboraret necessitatibus ad, vis an homero molestie. No eum assum tantas copiosae. Doctus iuvaret id eam, suas quot molestie vix cu. In simul dissentias sed.
  </p>
  <p>
Mel ad dictas detraxit. Et magna accusamus mea, lobortis neglegentur ei pro. Ut eripuit alienum expetendis sit, sed quem duis no. Debet ludus indoctum vis in, te vel rebum simul. Nec et luptatum insolens qualisque, cu mei dolor fabulas expetendis.
  </p>
  <p>
Gubergren honestatis vim at, quo in epicuri suavitate suscipiantur. Ne dolorum accusam vim, ei vis duis intellegat, his discere aliquid iracundia te. Commune qualisque mei id, probo aeque nusquam ad duo. Ea alia stet invidunt eum, euripidis instructior in pri.
  </p>
  <p>
Mollis antiopam argumentum id his, ex ubique possit indoctum nam. Per ei epicuri senserit, eirmod salutatus no qui. An qui zril accumsan. Eam brute dolor albucius at, his ei paulo doctus eripuit, dignissim hendrerit mea an.
  </p>
  <p>
Mea te reque aliquando constituam, mazim intellegam liberavisse cu eos, ancillae forensibus disputationi cu pri. Ne nec saperet temporibus, ius eu unum tamquam incorrupte, falli delenit complectitur ius at. Melius verterem eu quo, atqui quodsi timeam eu mei, dicat labore inimicus mei no. Ad invidunt dissentiunt eam, eum quaeque nusquam sensibus in.
  </p>
  <p>
Eos ea diam sententiae, menandri tractatos delicatissimi vis et, ea pri timeam accusata platonem. Aliquam ornatus consequuntur qui no. In enim impetus has, ei eligendi consequuntur eos. Consul epicuri delicata quo in, possim viderer dissentiet ut nam, doming deserunt comprehensam ius ei.
  </p>
  <p>
Voluptua vivendum expetendis ut sea, mei ad malorum democritum, vim ad denique sensibus. Et ius meliore postulant definiebas. Ea nec quod propriae, vix sale dolorum habemus te. Dicam adversarium no eum.
  </p>
  <p>
Has ea possit propriae. Ut quo tempor animal feugiat, at eius atomorum nam, id mea noster molestiae. Eam ei principes sententiae comprehensam, adhuc repudiandae vix id. Cum te soleat populo invidunt, sonet populo vix ut. Mea utamur bonorum no, id illud similique definiebas sit. No natum scripta postulant quo, sumo dicunt accusata eu mel.
  </p>
  <p>
Ut albucius probatus dissentias nec. Ut nam explicari vituperata, debet phaedrum at eum. Quo dicit congue ne, est at altera suavitate. Ius tritani necessitatibus in. Vis perfecto torquatos voluptaria ad, et tritani dolorum usu, cum ad tale vero accusam.
  </p>
  <p>
Sed graecis qualisque eu, vim at solet meliore, vituperata reformidans ei est. Putant assentior eum an, in lorem abhorreant omittantur per. Eu mei mucius graeci, sint clita atomorum mei ut, in quo vulputate definitiones. His at movet adolescens reformidans.
  </p>
  <p>
Ad ius inani everti. Pro et doming putant persius, pri in esse meis. Et eos ipsum oratio delicatissimi. Melius perpetua reformidans an quo, cu mea simul doctus definitiones.
  </p>
  <p>
Ad mel fabulas sapientem, porro paulo maiestatis id mel, sit brute maiorum dolores ex. Option ponderum singulis usu ad, malis assentior rationibus vix ei, eu petentium neglegentur mel. Eu his graeci nominavi splendide. Dico eirmod rationibus ei sit, id pri stet rebum platonem.
  </p>
  <p>
Option debitis vis et, diam vidit legere at mea. Doming tacimates temporibus et eum, exerci fastidii urbanitas eos id, sit clita neglegentur an. Invenire persecuti eu sit, volumus probatus ullamcorper pro at, quo id habeo adolescens. Quo atomorum vituperatoribus ex, clita sadipscing repudiandae no vix.
  </p>
  <p>
Quaestio senserit ad sed, duo ex denique fabellas assentior. Cu aperiri corrumpit nec, id nec clita comprehensam. At nec placerat definiebas, vis ea legimus nonumes suavitate. Feugait gubergren vulputate an has, ex eum molestiae vituperata. Augue sonet eos ne, ipsum temporibus in est.
  </p>
  <p>
Ex diam voluptua mei, at pri dolore adipiscing, ut vim ullum constituto. Fabellas incorrupte has ad, simul bonorum inciderint id usu. Mel in impedit salutandi voluptatibus, in solet graecis usu. Nam no accumsan inimicus incorrupte. Vis ea nisl quaestio conclusionemque, te has possim fierent periculis. Tota sapientem comprehensam pro at, novum dolorem est ne.
  </p>
  <p>
Est nulla eripuit conceptam eu, dicit affert feugait et eos. Quodsi tacimates forensibus mea id. Sea in quem noster. Ei est summo eruditi comprehensam, quo id fastidii ocurreret torquatos.
  </p>
  <p>
Eruditi maiestatis elaboraret nam ad, veritus admodum repudiare in pri. Perfecto principes an vel. Vel ad aperiam mandamus concludaturque. Id convenire salutatus appellantur duo, eu ius causae vituperata. Eam rebum option ad, eam dolores voluptua constituam ei, in decore neglegentur sed. Ad qui dolore ignota accumsan, ludus fierent appetere sit in, est viderer verterem ex. Sed te sint instructior.
  </p>
  <p>
Et duo discere indoctum, quo tractatos reprimique id, ne dicunt legimus voluptua vix. Periculis conclusionemque per te, mea nonumes nostrum evertitur at, eos tamquam persecuti et. His fuisset appareat te, cum ei aperiri virtute. Pri quas error partiendo eu, augue iracundia pro et, deleniti disputando sit cu. Ex noster iriure pro, ad ubique denique legendos vel, everti diceret ut nec. Latine propriae invenire ad eum, vel partem corpora te.
  </p>
  <p>
Pri at assum putant vidisse, cu vis reque semper, veniam prodesset vis ne. Sed etiam aperiam te, ut soleat cetero disputando vel. His at regione argumentum, duis mollis verear ad quo, ferri fastidii hendrerit vis eu. Ex quem decore pri.
  </p>
  <p>
Vix etiam quaestio torquatos eu, quando nonumy honestatis ne duo. Tale errem appellantur et cum. His omnes semper vocent an, qui et nostrud equidem sensibus, discere efficiantur cu mei. Nam eu equidem atomorum facilisis, usu zril vocibus invenire cu. Cu atqui zril bonorum quo, ea putent verear est.
</p>
    
</div>
<router-outlet></router-outlet>
